<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-head">
    <title>Admin panel</title>
</head>
<body>
<nav th:replace="fragments/nav-bar::nav-bar">
</nav>
<div class="container">
    <h1 th:text="#{title.product.list}">Product list</h1>
    <h4 th:text="'You are in ' +${#authentication.getName()}"></h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>id</td>
            <td>Title</td>
            <td>Category</td>
            <td>Price</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">1</td>
            <td th:text="${product.title}">Screen</td>
            <td th:text="${product.category}">Technique</td>
            <td th:text="${product.price}">999</td>
            <td><a th:href="@{${'/info/' + product.id}}">About</a></td>
            <td><form method="post" th:action="@{${'/admin/delete/' + product.id}}">
                <button type="submit" class="btn btn-danger">x</button>
            </form></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{'/admin/add'}" class="btn btn-primary">Add</a>
</div>
</body>
</html>
